:root {
    --primary-color: #0d6efd;
    --secondary-color:#62a1fe;
    --default-bg-color: #f8f9fa;
    --pd-bg-color: #ffcb2f;
    /*pd:pron-detect*/
    --gh-bg-color: #52e6b8;
    --ks-bg-color: #5db2db;
    --gigantic: 9999999999px;
    --dark-color: #212529;
    --text-color: #ffffff;
}

.center-text {
    text-align: center;
}

.href {
    text-decoration-line: none;
    color: var(--primary-color);
}

.full-screen-container {
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-container {
    background-color: var(--pd-bg-color);
    justify-content: space-evenly;
}

.gh-container {
    background-color: var(--gh-bg-color);
    justify-content: space-evenly;
}

.ks-container {
    background-color: var(--ks-bg-color);
    justify-content: space-evenly;
}

.primary-btn {
    padding: 4% 8%;
    background-color: var(--primary-color);
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    border-radius: var(--gigantic);
}

.primary-btn:hover {
    background-color: #0a58ca;
    cursor: pointer;
}

.disabled-btn{
    background-color: var(--secondary-color);
}

.disabled-btn:hover{
    background-color: var(--secondary-color);
    cursor: text;
}

.screenshot {
    width: 15%;
}

.icon {
    width: 30%;
    margin: 10% 0 10% 0;
}

.download-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: var(--dark-color);
    color: var(--text-color);
    font-size: smaller;
    padding: 1%;
    text-align: center;
}